<div class="top-navbar">
    <div class="navbar-content">
        <a class="navbar-brand" href="">Trading_UI</a>

        <nav class="navbar-menu">
            <div class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="option-chain">
                    <span class="bi bi-graph-up-nav-menu" aria-hidden="true"></span> Option Chain
                </NavLink>
            </div>
        </nav>

        <input type="checkbox" title="Navigation menu" class="navbar-toggler" />
    </div>
</div>

